<div class="container-fluid">


     <div class="col-md-3 offset-4 mat-form-field">
       <div class="input-group id_area">
        <input #userid type="text" name ="requested_userid" class="form-control" placeholder="아이디" aria-describedby="basic-addon1" ngModel>
      </div>
       <div class="input-group pw_area">
       <input #userpw type="password" name ="requested_userpw" class="form-control" placeholder="비밀번호" aria-describedby="basic-addon1" ngModel>
     </div>
       <button type="button" value="submit" id="login_btn" (click)="ask_login(userid,userpw)" class="btn btn-primary"><i class="fa fa-unlock" aria-hidden="true"></i>로그인</button>
       <p>아직 계정이 없다면? <a routerLink="/login/joinmembership" routerLinkActive="True">회원가입</a></p>
     </div>

</div>

