.app-navbar {
  border-bottom:1px solid darkgray;
  background-color: #3d4752;
}
.app_title{
  color: #eeeeee;
  font-family: "Andale Mono";
  font-style: inherit;
}
.login-btn {
  padding-right: 10px;
}
.join_mem-btn {
  padding-right: 10px;
}
