<nav class="col-2 bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" *ngIf="login_status" routerLink="main/app-index"routerLinkActive="active">
        <i class="fa fa-home" aria-hidden="true"></i> 홈으로</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!login_status" routerLink="login/app-login">
        <i class="fa fa-home" aria-hidden="true"></i> 홈으로</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  *ngIf="login_status" routerLink="../../notice/app-notice" routerLinkActive="active">
        <i class="fa fa-table" aria-hidden="true"></i> 새로 올라온 공지</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!login_status" routerLink="login/app-login">
        <i class="fa fa-table" aria-hidden="true"></i> 새로 올라온 공지</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="login_status"routerLink="../../message/app-message" routerLinkActive="active">
        <i class="fa fa-envelope-open-o" aria-hidden="true"></i> 메일 전송 서비스</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!login_status" routerLink="login/app-login">
        <i class="fa fa-envelope-open-o" aria-hidden="true"></i> 메일 전송 서비스</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="login_status" routerLink="../../addurl/app-url-mangement" routerLinkActive="active">
        <i class="fa fa-cogs" aria-hidden="true"></i> URL관리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!login_status" routerLink="login/app-login">
        <i class="fa fa-cogs" aria-hidden="true"></i> URL관리</a>
    </li>
  </ul>

</nav>
