

#domain_name{
background-color: slategray;
  text-align: center;
}
#domain_menu_1{
  background-color: lightgray;
  padding-bottom: 15px;
}
.add_ele{
  margin-top: 33px;
  margin-bottom: 19.3281px;
  align-content: center;
}

