
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<div class="row" >
<div class="col-md-3 col-xs-2 col-md-offset-1 col-xs-offset-1" id="domain_name">
  <h2 class="domain_title">TO-DO-List</h2>
<p>The things which i have to</p></div>

<div class="col-md-7 col-xs-6" id="domain_menu_1">
<form class="form" (ngSubmit)="onSubmit()">
  <div class="add_ele col-md-8">
  <input type="text" class="form-control"
         name="title"
         [(ngModel)]="title"
         placeholder="add your work">
  </div>

  <div class="col-md-3 add_ele">
    <input type="submit" value="ADD" class="btn btn-default">
  </div>
</form>
</div>
</div>


