<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Mail Service</li>
    <li class="breadcrumb-item">Notice<i class="fa fa-eye" aria-hidden="true"></i>Observer
    </li>
  </ol>
  <div class="table-bordered">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">수정하기</th>
        <th scope="col">Email 입력하기</th>
        <th scope="col">삭제하기</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let email_info of email_list">
        <td><button *ngIf="!email_info['edit_mode']" (click)="change_edit_mode2_register_mode(email_info)" mat-raised-button color="primary"><i class="fa fa-wrench" aria-hidden="true"></i></button>
          <button *ngIf="email_info['edit_mode']" (click)="complete_email_write(email_info, email_input_element)" mat-raised-button color="success">입력완료</button></td>
        <td><input type="email" class="form-control" placeholder="input your email" [disabled]="!email_info['edit_mode']" [value]="email_info.email" #email_input_element></td>
        <td><button mat-icon-button color="warn" (click)="deleteItem(email_list)" class="deletebtn">x</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="button" id="ask_add_email"class="btn bg-inverse"(click)="addNewEmail()">새 이메일 추가하기</button>
  </div>

</div>

