<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item">Notice<i class="fa fa-eye" aria-hidden="true"></i>Observer
    </li>
  </ol>
  <div class="row">
    <div class="col-lx-4 col-sm-4 mb-4">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <p>오늘의 공지 갯수 {{todayCount}}</p>
          </div>
        </div>
        <a class="card-footer text-white bg-success " routerLink="/notice/app-notice" routerLinkActive="True">
          <span class="float-left"><a class="text-white">확인 하러 가기</a></span>
        </a>
      </div>
    </div>
    <div class="col-lx-4 col-sm-4 mb-4">
      <div class="card text-white bg-info o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <p><i class="fa fa-envelope-o"></i>메일 전송 서비스</p>
          </div>
        </div>
        <a class="card-footer text-white bg-info small" routerLink="/message/app-message" routerLinkActive="True">
          <span class="float-left"><a class="text-white">확인 하러 가기</a></span>
        </a>
      </div>
    </div>
    <div class="col-lx-4 col-sm-4 mb-4">
      <div class="card text-white bg-inverse o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <p><i class="fa fa-cogs" aria-hidden="true"></i>URL 관리하기</p>
          </div>
        </div>
        <a class="card-footer text-white bg-inverse small" routerLink="/addurl/app-addurl" routerLinkActive="True">
          <span class="float-left"><a class="text-white">관리 하러 가기</a></span>
        </a>
      </div>
    </div>
  </div>

  <div class="card mb-1">
    <div class="card-header">
      <i class="fas fa-chart-area">
      </i>
      최근 올라온 공지글 경향
    </div>
    <div class="card-body">
      <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand"></div>
        <div class="chartjs-size-monitor-shrink"></div>
      </div>
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>

