.board_head{
  color:#ffffff;
}
table {
  width: 100%;
}

.board_table{
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
}
board_table.tbody ng-container:hover{
  background-color: lightblue;

}
.tdhead{
  width: 5%;

}
.tdbody{
  width: 60%;
}
.tdtail{
  width: 15%;
}
.tdauthor{
  width:10%;
}

.tbdata{
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
}
